body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #2f2f2f;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover { transform: scale(1.05); }

.card img { width: 100%; height: 280px; object-fit: cover; }

.card-info { padding: 10px; }

.card-info h3 { margin: 5px 0; font-size: 1rem; }

.badge {
    background: #e50914;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}
/* Modal de fondo */
.modal {
    position: fixed;
    z-index: 100;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #262626;
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    position: relative;
}

.close {
    position: absolute;
    right: 20px; top: 10px;
    font-size: 30px;
    cursor: pointer;
}
.filter-bar {
    padding: 20px 50px;
    display: flex;
    gap: 15px;
    background: #1f1f1f;
    align-items: center;
}

.filter-bar input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    background: #333;
    color: white;
}

.filter-bar button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: #e50914;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.filter-bar button:hover {
    background: #b20710;
}
.admin-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

.admin-form input, .admin-form select {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #111;
    color: white;
}

.admin-form button {
    background: #008cff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.acciones {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.btn-edit { background: #ffc107; border: none; border-radius: 3px; cursor: pointer; padding: 5px; }
.btn-delete { background: #dc3545; border: none; border-radius: 3px; cursor: pointer; padding: 5px; }

.btn-edit:hover { background: #e0a800; }
.btn-delete:hover { background: #c82333; }